<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="SqlServer" connectionString="Data Source=locahost;Initial Catalog=Test_1;Integrated Security=false;Uid=sa;Pwd=@Iphonex29"/>
	</connectionStrings>
</configuration>