<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonService" />
                <binding name="BasicHttpBinding_IEmployeeServ" />
                <binding name="BasicHttpBinding_IPersonService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56407/PersonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService"
                contract="ServiceProxy.IPersonService" name="BasicHttpBinding_IPersonService" />
            <endpoint address="http://localhost:56445/EmployeeServ.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeServ" contract="EmployeProxy.IEmployeeServ"
                name="BasicHttpBinding_IEmployeeServ" />
            <endpoint address="http://localhost:56205/PersonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService1"
                contract="PersonSProxy.IPersonService" name="BasicHttpBinding_IPersonService1" />
        </client>
    </system.serviceModel>
</configuration>